aside {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-form {
    background-color: rgba(36, 30, 30, 0.459);
    width: 70%;
    height: 80%;
    border-radius: 25px;
    box-shadow: 10px 10px 50px black;

}

.form-name {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    padding: 10px;
    text-shadow: 4px 2px 9px black;
    margin-bottom: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.div-forgot {
    margin-top: 15px;
    text-align: center;
}

.div-forgot a {
    color: white;
    padding: 5px;
}

label {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

::placeholder {
    text-align: center;
}

input {
    box-sizing: border-box;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.445);
    border-radius: 15px;
    height: 30px;
    width: 80%;
    color: white;
    padding: 10px;
}

button {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.445);
    width: 70%;
    height: 40px;
    color: white;
}

.slide-left {
    -webkit-animation: slide-left 1s ease-in;
    animation: slide-left 2s ease;
}


@keyframes slide-left {
    0% {

        transform: translateX(700px);
    }

    100% {

        transform: translateX(0px);
    }
}