.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(143, 133, 133, 0.345);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: rgb(0, 255, 149);
  color: black;
  border-radius: 8px;
  height: 35%;
  width: 75%;
  text-align: center;
}

.close {
  float: right;
  bottom: 100%;
  font-size: 50px;
  cursor: pointer;
}
.button-modal{
	width: 200px;
	height: 50px;
	background-color: blue;
	border-radius: 20px;
	margin: 80px;
}
input,label{
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 80%;
	height: 35px;
	border-radius: 10px;
	margin: auto;
}

