main{
    display: flex;
    height: 100dvh;
    width: 100dvh;
}

.container-text {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.name {
    font-size: 4rem;
    text-shadow: 6px 3px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}

.description {
    font-size: 1.2rem;
}